.menu-nav {
  background-color: #105454;
  width: 100vw;
  padding: 10px;
  border-bottom: 2px solid #2acfcf;
  position: absolute;
  top: 0;
}

.menu-ul {
  display: flex;
  justify-content: right;
}

.menu-li {
  list-style: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
}
.menu-li a{
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.menu-ul .menu-li .a:hover {
  color: #2acfcf;
}