.menu-nav {
  width: 100vw;
  padding: 10px 0;
  border-bottom: 2px solid #2acfcf;
  position: absolute;
  top: 0;
  background-image: linear-gradient(to bottom, #167171,#1d8f8f,#23aeae,#23aeae, #1d8f8f, #167171);
}
/* #2acfcf */

.desactivar {
  display: none;
}

/* .menu-movil {
  background-image: linear-gradient(to bottom, #105454, #167171, #1d8f8f, #23aeae, #2acfcf);
  width: 180px;
  height: 100vh;
} */

.menu-ul {
  display: flex;
  padding: 10px;
  margin: 0 auto;
  justify-content: right;
}

.menu-li {
  list-style: none;
  margin: 0 20px;
}

.menu-li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: 0.3s ease;
}

.menu-ul .menu-li .a:hover {
  color: #2acfcf;
}

@media (min-width: 412px) {
  /* .menu-ul {
    display: flex;
    justify-content: right;
  } */
}