.menu-nav {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  padding: 10px;
  border-bottom: 2px solid #00a78e;
}

.menu-ul {
  display: flex;
  justify-content: right;
}

.menu-li {
  list-style: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
}

.menu-ul .menu-li .a:hover {
  color: #00a78e;
}