.div-container-jobs {
  background-image: url('../../assets/wallhaven-kx82d6.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}

.container-jobs {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

}

.container-center-jobs {
  width: 100%;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(170px, 1fr));
}

.jobs-title {
  padding: 20px;
  text-align: left;
}

.jobs-title h2 {
  font-size: 34px;
  color: #2acfcf;
}

.jobs-title p {
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.jobs {
  background-color:#2acfcf40;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  text-align: left;
  border-bottom: 3px solid rgba(255, 255, 255, 0.587);
  color: white;
}
.jobs p{
  width: 90px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px 10px 2px 10px;
  color: white;
  background-color: #2acfcf98;
  padding: 5px 0px;
  margin-bottom: 5px;cursor: pointer;
}
.jobs p:active{
  background-color: #2acfcf;
}
.jobs h6 {
  font-size: 14px;
  padding: 5px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.199);
}
.jobs div {
  display: flex;
}


.jobs div a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 4px;
  border-radius: 100px;
  background-color: #2acfcf98;
  text-decoration: none;
  cursor: pointer;
}