.menu-nav {
  width: 100vw;
  padding: 10px 0;
  border-bottom: 2px solid #2acfcf;
  position: absolute;
  top: 0;
  background-color: #1d8f8f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

/* #2acfcf */

.desactivar {
  display: none;
}
.menu-h4{
  background-color: rgba(0, 0, 0, 0.261);
  padding: 5px 10px;
  border-radius: 100px;
  margin: 0 10px;
}
.menu-ul {
  display: flex;
  padding: 10px;
  /* margin: 0 auto; */
 /*  justify-content: right; */
}

.menu-li {
  list-style: none;
  margin: 0 10px;
}

.menu-li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: 0.3s ease;
  font-weight: 500;
}

.menu-ul .menu-li .a:hover {
  color: #2acfcf;
}