.container-nav {
  position: absolute;
  width: 100vw;
  top: 0;
}

/* NAV MOVIL */
.icon-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
}

.menu-nav-movil {
  width: 100vw;
}

.container-menu-movil {
  width: 100%;
  position: absolute;
  left: -200px;
  transition: all .5s ease;
}

.container-menu-movil ul {
  padding-top: 40px;
}

.activar {
  transform: translate(200px, 0);
}


.container-menu-movil ul {
  width: 180px;
  min-width: 180px;
  background-color: #041C24;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232596BE'/%3E%3Cstop offset='1' stop-color='%23041C24'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%232ACFCF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%232ACFCF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  -webkit-box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 1);
}

.container-menu-movil ul h4 {
  padding: 20px 20px 30px 50px;
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: bolder;
}

.container-menu-movil ul h4 span {
  background-color: #2acfcf;
  background-image: linear-gradient(45deg, #065b64, #00ffff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}


.container-menu-movil ul .menu-li-movil {
  /*  background-color: darkblue;
  border: 2px solid black; */
  padding: 10px 0;
  margin: 10px;
}

.container-menu-movil ul .menu-li-movil a {
  text-decoration: none;
  color: white;
}

.bacio-nav {
  width: 100%;
  min-width: 20px;
  max-width: 300px;
  /*   background-color: rgb(19, 135, 139); */
}

/* NAV DESKTOP */


.menu-nav {
  display: none;
}

@media (min-width: 480px) {
  .menu-nav-movil {
    display: none;
  }

  .menu-nav {
    width: 100vw;
    max-width: 960px;
    padding: 10px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

  .menu-ul {
    display: flex;
    padding: 10px;
  }

  .menu-li {
    list-style: none;
    margin: 0 20px;
  }

  .menu-li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s ease;
    font-weight: 500;
  }

  .menu-ul .menu-li .a:hover {
    color: #ffffffa2;
  }

  .menu-h4 {
    margin: 0 20px;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
  }

  .menu-h4 span {
    /* background: -webkit-linear-gradient(#2acfcf,#146c74 #041C24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background-color: #2acfcf;
    background-image: linear-gradient(45deg, #065b64, #00ffff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}